.slider {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
